**/.git
**/.virtualenvs
**/.github
**/.circleci
**/.pytest_cache
**/__pycache__
*.egg-info
*.egg/
*.rpm
**/venv
**/.venv
**/.coverage

bin
dev-project
docs
scripts
tests
test_results
.tox
dist
build
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.pot
*.mo
*.swp
./test_results
test_results/logs/command.log

.coveragerc
.pre-commit-config.yaml
.gitignore
.style.yapf
.yapfignore
CONTRIBUTING.md
CHANGELOG.md
pylintrc
pytest.ini
